<h4>title:</h4>
<p><%= @book.title %></p>


<h4>body:</h4>
<p><%= @book.body %></p>

<%= link_to "edit", edit_book_path(@book.id) %>
<%= link_to "Destroy", destroy_book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>


<p>Find me in app/views/books/show.html.erb</p>
